.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  font-weight: 400;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.footer ul li {
  list-style: none;
  color: var(--mainColor);
}

.footer ul li a {
  text-decoration: none;
  color: var(--mainColor);
}

.link:hover {
  color: var(--hoverColor);
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .footer ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer ul li {
    margin: 0.5rem;
  }
  
}