.button {
  background-color: var(--backgroundColor);
  border: solid 1px var(--mainColor);
  color: var(--mainColor);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  line-height: 1.5;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--mainColor);
  color: var(--backgroundColor);
}

.button:active {
  background-color: var(--mainColor);
  color: var(--backgroundColor);
}
