.projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  border-radius: 5px;
  background: var(--mainColor);
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--mainColor);
}
.overlay {
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 3s ease-in-out;
  opacity: 0;
  scale: 0.5;
}

.overlay:hover {
  scale: 1;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.projectTitle {
  font-size: 1.1rem;
  color: var(--secondaryColor);
  width: 100%;
  text-align: center;
  background: var(--mainColor);
  text-decoration: double underline;
  text-underline-offset: 0.2rem;
  cursor: pointer;
}

.projectDate {
  font-size: 0.8rem;
  color: var(--secondaryColor);
  width: 100%;
  text-align: center;
  background: var(--mainColor);
  margin-bottom: 0.5rem;
}

.projectShortDescription {
  font-size: 0.8rem;
  color: var(--secondaryColor);
  width: 100%;
  text-align: center;
  background: var(--mainColor);
  margin-bottom: 0.5rem;
}
.firstImage {
  width: 100%;
  border-radius: 5px;
}

.projectLink {
  font-size: 0.8rem;
  color: var(--hoverColor);
  width: 100%;
  text-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 0.3rem;
}

.projectLink:hover {
  color: var(--secondaryColor);
  background: var(--hoverColor);
  transition: all 0.5s ease-in-out;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--mainColor);
  border-radius: 5px;
}

.iconsContainer svg {
  scale: 0.5;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .projectContainer {
    max-width: 200px;
  }
  .projectTitle {
    font-size: 0.8rem;
  }
  .projectDate {
    font-size: 0.6rem;
  }
  .projectShortDescription {
    font-size: 0.6rem;
  }
  .projectLink {
    font-size: 0.6rem;
  }
  .iconsContainer svg {
    scale: 0.3;
  }
  
}