.detailsContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 0;
}

.description {
    color: var(--hoverColor);
    text-align: center;
}

.detailsContainer img {
    width: 55%;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.technos { 
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
    justify-content: space-around;
    align-items: center;
}

.detailsContainer a {
    color: var(--hoverColor);
    text-decoration: none;
}