.detailsContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 0;
}

.description {
    color: var(--hoverColor);
}

.detailsContainer img {
    width: 55%;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
