.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--mainColor);
}

.loading svg {
  animation: rotate 2s linear infinite;
  scale: 1.5;
  color: var(--mainColor);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
