.technosContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  transform: translateY(-4.3rem);
}

.technosContainer h3 {
  color: var(--mainColor);
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -0.2rem;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .technosContainer {
    align-items: center;
    transform: translateY(-2.5rem);
  }
  .technosContainer h3 {
    font-size: 2rem;
    letter-spacing: -0.1rem;
  }
  
}
