.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  border-radius: 20px;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  border: solid 6px var(--mainColor);
}

.labelDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem;
  justify-content: center;
  width: 80%;
}
.formLabel {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: var(--mainColor);
}

.formInput {
  width: 100%;
  padding: 0.5rem 3rem;
  margin: 1rem;
  border-radius: 20px;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--backgroundColor);
  border: solid 1px var(--mainColor);
  color: var(--mainColor);
  text-decoration: none;
}

.textarea {
  width: 100%;
  padding: 0.5rem 3rem;
  margin: 1rem;
  border-radius: 20px;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  resize: none;
  background-color: var(--backgroundColor);
  border: solid 1px var(--mainColor);
  color: var(--mainColor);
  text-decoration: none;
}

.formButton {
  width: 40%;
  padding: 0.5rem 3rem;
  margin: 1rem;
  border-radius: 20px;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--backgroundColor);
  border: solid 1px var(--mainColor);
  color: var(--mainColor);
  text-decoration: none;
}

.formButton:hover {
  background-color: var(--mainColor);
  color: var(--backgroundColor);
  transition: 0.5s ease-in-out;
}
