:root {
  --mainColor: #2966AD;
  --hoverColor: #1E4D7C;
  --backgroundColor: #FEFCEC;
  --secondaryColor: #EEEBE1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--backgroundColor);
}
